.loggin {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../public/images/loggin-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-red-light);
  width: 25rem;
  margin: auto;
  padding: 3rem 0;
  border-radius: 1rem;
}

form input {
  background-color: transparent;
  width: 85%;
  border-bottom: 1px solid var(--color-blue-variant);
  font-family: kalameh;
  margin: 1rem;
}

form > a {
  font-family: kalameh;
  background-color: var(--color-red);
  color: #fff;
  padding: 0.5rem 1.4rem;
  border-radius: 0.8rem;
  transition: var(--transition);
}

form > a:hover {
  transform: scale(1.07);
}

form p {
  color: var(--color-blue-variant);
  margin-top: 0.5rem;
  opacity: 0.8;
}

form p a {
  color: var(--color-blue-variant);
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition);
}

form p a :hover {
  opacity: 1;
}

@media screen and (max-width : 600px) {
    form {
        width: 90%;
    }
    
    form p {
        font-size: .8rem;
    }
}